body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5 tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
ul, ol { list-style:none; } 
a { text-decoration:none; outline: none; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none;} 
a:hover { text-decoration:underline; } 
fieldset, img { border:0; }
.hide { display: none; }
[v-cloak] { display: none; }
#wrap { position: fixed; width: 100%; height: 100%; top: 0; left: 50%; overflow: hidden; margin-left: -3.75rem; max-width: 750px;  background: url('../imgs/bg.png') no-repeat top center; background-size: 100% auto;}
.top-broad { position: absolute; top: 0; left: 0; width: 100%; z-index: 9}
.top-broad img { width: 100%; }
.music { position: absolute; position: absolute; left: .45rem; top: .6rem; }
.music img { width: .8rem; height: .86rem; }
.page-container { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }
.first .loading { position: absolute; width: 2.84rem; height: 2.84rem; background: url('../imgs/yuan.png'); background-size: 2.84rem; line-height: 2.84rem; text-align: center; line-height: 2.84rem; font-size: .7rem; color: #cf4a3f; font-weight: bold; left: 50%; margin-left: -1.42rem; top: 3.5rem; }
.first .loding-txt { width: 2.31rem; height: .81rem; position: absolute; left: 50%; margin-left: -1.15rem; top:7rem; }
.first .loding-txt img { width: 2.31rem; height: .81rem; animation: myfirst 1s linear 2s infinite alternate;}
.bottom-img { width: 100%; position: absolute; bottom: 0; }
.bottom-img img { width: 100%; display: block; position: absolute; }
.bottom-img img:last-child { height: 2rem; bottom: 0; }
.bottom-img img:first-child {  bottom: 1rem; }
.second .logo { position: absolute; width: 90%; width: 5.4rem; left: 50%; margin-left: -2.7rem; top: 2rem; }
.second .logo img { width: 5.4rem; height: 4.4rem; }
.second .txt img { display: block; }
.second .txt .heartBeat { position: absolute; top: 6.4rem; width: 3rem; height: 1rem; left: 50%; margin-left: -1.5rem;}
.second .txt div { position: absolute; top: 7.8rem; width: 4.44rem; height: 1rem; left: 50%; margin-left: -2.22rem;}
.second .txt div img { width: 4.44rem; height: 1rem; }
.third { z-index: 10; }
.third .timer { width: 3.18rem; position: absolute; left: 50%; margin-left: -1.59rem; top: -.5rem; }
.third .timer img { width: 3.18rem; height: 3.22rem; }
.third .timer .num { position: absolute; font-weight: bold; font-size: .72rem; color: #cf4a3f; width: 1.2rem; text-align: center; height: 1.3rem; line-height: 1.4rem; bottom: .5rem; left: 50%; margin-left: -.6rem; }
.third .lists { position: absolute; top: 2.6rem; width: 6.5rem; left: 50%; margin-left: -3.25rem; height: 8.73rem; background: url('../imgs/board.png') no-repeat center; background-size: 6.5rem 7.73rem; }
.bottom-third { position: absolute; bottom: -1rem; }
.bottom-third img { width: 100%; height: 3.2rem; }
.third .explain { position: absolute; z-index: 10; width: 100%; height: 100%; background: rgba(0,0,0,.5); }
.third .explain img { display: block; position: absolute; width: 5.57rem; height: 3.93rem; left: 50%; top: 50%; margin-top: -1.965rem; margin-left: -2.85rem; }
.third .guid {position: absolute; z-index: 10; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,.5) }
.third .guid .top-img { width: 5.85rem; height: 3.69rem; position: absolute; left: 50%; margin-left: -2.925rem; top: 1rem; overflow: hidden; text-align: center; background: url('../imgs/guid.png'); background-size: 5.85rem 3.69rem; }
.third .guid .top-img img { width: .8rem; height: .8rem; margin-top: 1.2rem; margin-left: -.1rem}
.third .guid .top-img .status { position: absolute; bottom: .5rem; font-size: .3rem; color: #fff; width: 3.8rem; left: 50%; margin-left: -1.9rem; }
.third .tip { position: absolute; bottom: -.8rem; right: 10px; }
.third .tip .people img{ width: 6.23rem; height: 8.19rem; }
.third .tip .txt { position: absolute; top: 0.82rem; left: 1.3rem; }
.third .tip .txt img { width: 3.7rem; }
.third .success { position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0,0,0,.5);}
.third .success .discount { position: absolute; width: 6.46rem; height: 8.25rem; left: 50%; margin-left: -3.23rem; top: 1rem; background: url('../imgs/success.png') no-repeat center; background-size: 6.46rem 8.25rem; }
.third .success .discount .list { width: 5.26rem; margin: 3rem auto 0; }
.third .success .discount .list img { width: 100%; }
.third .success .control { position: absolute; width: 4.44rem; left: 50%; margin-left: -2.22rem; top: 8.5rem; } 
.third .success .control .see img { width: 4.44rem; height: 1.53rem; }
.third .success .control .again img { width: 4.44rem; height: 1.04rem; margin-top: -.1rem;}
.third .fail { width: 100%; height: 100%; background-color: rgba(0,0,0,.5); position: absolute; left: 0; top: 0; }
.third .fail .control { position: absolute; width: 6.46rem; height: 8.76rem; left: 50%; top: 1.5rem; margin-left: -3.23rem; background: url('../imgs/fail.png') no-repeat center; background-size: 6.46rem 8.76rem; }
.third .fail .control img { width: 4.44rem; }
.third .fail .control div.again { margin-top: 3.2rem; }
.third .fail .control div { text-align: center; padding-bottom: .5rem;}
.third .fail .control div:nth-child(1),.third .fail .control div:nth-child(2) { background: url('../imgs/fail0.png') no-repeat bottom center; background-size: 4.36rem .63rem; }
.third .fail .control div:nth-child(3),.third .fail .control div:nth-child(2) { margin-top: -.1rem; }
.shake_box { animation: shake_box 1s linear 2s infinite alternate; }
.third .imgs-list { position: absolute; width: 5.6rem;  top: 1.3rem; left: 50%; margin-left: -2.8rem; }
.third .imgs-list img { width: .8rem; height: .8rem; display: block; float: left; margin-left: .8rem}
.third .imgs-list img:nth-child(7n+1) { margin-left: 0; }
.third .imgs-list img:nth-child(7n) { margin-right: .8rem; }